
<div class="container mt-5">
	<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	<h2 class="text-center mb-4">NG2-Carnival</h2>
		<div class="card">
			<div class="card-block">
			<h3>Sign Up</h3>
			<p class="lead">
			It's free and always will be.
			</p>
			<hr>
				<form>
					<div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name"
								placeholder="Full Name">
						</div>
					</div>
					<div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="emial"
								placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="password" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password"
								placeholder="Password">
						</div>
					</div>
					<div class="form-group row">
						<label for="password" class="col-sm-2 col-form-label">Confirm Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="confpassword"
								placeholder="Confirm Password">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2">&nbsp;</label>
						<div class="col-sm-10">
							<div class="form-check">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox"> By clicking this check box, you agree to the <a href=""  data-toggle="modal" data-target="#term">Terms and Conditions</a> set out by this site, including our Cookie Use.
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="offset-sm-2 col-sm-10">
							<a  class="btn btn-primary" routerLink="/dashboard/home">Sign up</a>
							<div class="float-right">
								Have account? Please <a  routerLink="/">login</a>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
		</div>
	 <div class="col-lg-2"></div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="term" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>